{% extends 'base.html.twig' %} {% block title %}Minisuper-Jerry | Ingresar{% endblock %} {% block body %}
<div class="container mt-5 w-25">
    <form method="post" class="form-group">
        {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %} {% if app.user %}
        <div class="mb-3 mt-5">
            <div class="alert alert-danger" role="alert">
                Usted ya se encuentra logueado como <b>{{ app.user.username }}</b>, <a href="{{ path('app_logout') }}">Cerrar sesión</a>
            </div>
        </div>
        {% endif %}
        <div class="text-right">
            <a href="{{ path('app_register') }}" class="font-weight-bold">Registrarse</a>
        </div>

        <h1 class="h3 mb-3 font-weight-normal">Por favor ingrese sus credenciales</h1>
        <label for="inputUsername">Nombre de usuario</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
        <label for="inputPassword">Contraseña</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"> {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality. See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Recuerdame
            </label>
        </div>
        #}

        <button class="btn btn-lg btn-success btn-block btn-lg mt-2" type="submit">
        Ingresar
    </button>
    </form>
</div>
{% endblock %}